<%- include('./includes/head', {pageTitle: 'An Error Accoured!'}) %>

</head>
<body>
    <%- include('./includes/header') %>
<main>

    <h1>Not Authorized!</h1>
    <p>You are not authorized!</p>
    <p><a href="/" class="btn">Back to safety!</a></p>

</main>    

<%- include("./includes/footer") %>
