<%- include('./includes/head', {pageTitle: 'An Error Accoured!'}) %>

</head>
<body>
    <%- include('./includes/header') %>
<main>

    <h1>Something went wrong!</h1>
    <p>Unfortunately, Something went wrong in this time - Please try again later!</p>
    <p><a href="/" class="btn">Back to safety!</a></p>

</main>    

<%- include("./includes/footer") %>
